:root {
  --main-back: #ffffff;
  --main-col: #212121;
  --main-section: #2f303a;
  --accent-col: #2196f3;
  --text-col: #757575;
  --studio-head: #000000;
  --main-button-ac: #188ce8;
  --team-back: #f5f4fa;
  --foot-back: #2f303a;
  --portfolio-back: #f5f5f5;
}

body {
  background-color: var(--main-back);
  color: var(--main-col);
  font-family: Roboto, Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
header {
  border-bottom-color: 1px var(--text-col);
}
a {
  margin: 0;
  text-decoration: none;
}
ul,
li {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
img {
  display: block;
}
.container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px solid tomato; */
}
/* Navigation */
.main-nav,
.menu {
  display: flex;
  align-items: center;
}
/* .menu,
.contacts {
  display: flex;
} */
.logo-web {
  color: var(--accent-col);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logo-studio {
  color: var(--studio-head);
}
.menu-link {
  display: flex;
  margin-left: 93px;
}
.menu-link li:not(:last-child) {
  margin-right: 50px;
}
.link.current {
  color: var(--accent-col);
}
.menu-link a {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--main-col);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.menu-link a:hover,
.menu-link a:focus {
  color: var(--accent-col);
}
.contacts {
  display: flex;
  margin-left: auto;
}
.contacts li:not(:last-child) {
  margin-right: 50px;
}
.contacts a {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--text-col);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts a:hover,
.contacts a:focus {
  color: var(--accent-col);
}
/* Main */
.main-content {
  text-align: center;
  background-color: var(--main-section);
  color: var(--main-back);
  padding-top: 200px;
  padding-bottom: 200px;
}
.title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}
.main-button {
  display: inline-block;
  border-radius: 4px;
  min-width: 216px;
  padding: 10px 32px;
  border-color: var(--accent-col);
  background-color: var(--accent-col);
  color: var(--main-back);
  font-family: inherit;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.main-button:hover,
.main-button:focus {
  background: var(--main-button-ac);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/* Особливості */
p {
  margin: 0;
  color: var(--text-col);
}
.section-features {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-features h2,
.section-main h1 {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.list-features {
  display: flex;
}
.list-features li:not(:last-child) {
  margin-right: 30px;
}
.list-features h3 {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}
.list-features p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
/* Робота */
.section-work {
  padding-bottom: 94px;
}
.section-title {
  margin-top: 0;
  margin-bottom: 50px;
}
.work-list {
  display: flex;
}
.work-list li:not(:last-child) {
  margin-right: 30px;
}
/* Команда */
.section-team {
  background-color: var(--team-back);
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-title.team {
  margin-top: 0;
  margin-bottom: 50px;
}
.list-team {
  display: flex;
  text-align: center;
}
.list-item {
  background-color: var(--main-back);
  border-bottom: var(--text-col);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.list-item:not(:last-child) {
  margin-right: 30px;
}
.list-team img {
  margin-bottom: 30px;
}
.list-team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-top: 0;
  margin-bottom: 10px;
}
.list-team p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  margin: 0;
  margin-bottom: 30px;
}
/* Footer */
.back-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--foot-back);
}
.logo-footer {
  color: var(--main-back);
}
.footer-contacts {
  margin-top: 20px;
}
.footer-contacts a:hover,
.footer-contacts a:focus {
  color: var(--accent-col);
}
.list-contacts a {
  color: var(--main-back);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
.list-contacts .mail,
.list-contacts .tell {
  color: rgba(255, 255, 255, 0.6);
}

/* Portfolio */
.portfolio {
  color: var(--accent-col);
}

/* Main */
.section-main {
  background-color: var(--main-back);
  padding-top: 94px;
  padding-bottom: 94px;
}
.button-nav {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 34px;
}
.button-list:not(:last-child) {
  margin-right: 8px;
}
.button-item {
  padding: 6px 22px;
  border-radius: 4px;
  border-color: transparent;
  background-color: var(--team-back);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.button-nav button:hover,
.button-nav button:focus {
  background-color: var(--accent-col);
  color: var(--main-back);
}
.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio-item {
  flex-basis: calc((100% - 60px) / 3);
  padding-bottom: 20px;
}
.list-portfolio img {
  margin-bottom: 20px;
}
.list-portfolio h2 {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 4px;
}
.list-portfolio p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
}
